-- Create reference tables if they don't exist\nCREATE TABLE IF NOT EXISTS land_use_types (\n    id SERIAL PRIMARY KEY,\n    name VARCHAR(100) NOT NULL,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,\n    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP\n);\n\nCREATE TABLE IF NOT EXISTS cooperative_status (\n    id SERIAL PRIMARY KEY,\n    name VARCHAR(100) NOT NULL,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,\n    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP\n);\n\n-- New tables for additional cooperative information\nCREATE TABLE IF NOT EXISTS cooperative_contacts (\n    id SERIAL PRIMARY KEY,\n    cooperative_id INTEGER REFERENCES cooperatives(id),\n    contact_person VARCHAR(255),\n    position VARCHAR(255),\n    phone VARCHAR(50),\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,\n    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP\n);\n\nCREATE TABLE IF NOT EXISTS cooperative_projects (\n    id SERIAL PRIMARY KEY,\n    cooperative_id INTEGER REFERENCES cooperatives(id),\n    project_name VARCHAR(255),\n    project_type VARCHAR(100),\n    start_date DATE,\n    end_date DATE,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,\n    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP\n);\n\nCREATE TABLE IF NOT EXISTS cooperative_collaborations (\n    id SERIAL PRIMARY KEY,\n    cooperative_id INTEGER REFERENCES cooperatives(id),\n    collaborator_name VARCHAR(255),\n    collaboration_type VARCHAR(100),\n    start_date DATE,\n    end_date DATE,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,\n    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP\n);\n\nCREATE TABLE IF NOT EXISTS cooperative_resources (\n    id SERIAL PRIMARY KEY,\n    cooperative_id INTEGER REFERENCES cooperatives(id),\n    resource_type VARCHAR(100),\n    resource_name VARCHAR(255),\n    quantity INTEGER,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,\n    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP\n);\n\n-- Add new columns to cooperatives table\nALTER TABLE cooperatives \nADD COLUMN IF NOT EXISTS land_use_id INTEGER REFERENCES land_use_types(id),\nADD COLUMN IF NOT EXISTS status_id INTEGER REFERENCES cooperative_status(id),\nADD COLUMN IF NOT EXISTS distance_from_municipality DECIMAL(10,2),\nADD COLUMN IF NOT EXISTS female_member_count INTEGER,\nADD COLUMN IF NOT EXISTS main_activity VARCHAR(100),\nADD COLUMN IF NOT EXISTS other_activities TEXT,\nADD COLUMN IF NOT EXISTS production_hectares DECIMAL(10,2),\nADD COLUMN IF NOT EXISTS comments TEXT,\nADD COLUMN IF NOT EXISTS area_hectares DECIMAL(10,2);\n\n-- Create trigger function to populate cooperative_areas fields\nCREATE OR REPLACE FUNCTION populate_cooperative_area_fields()\nRETURNS TRIGGER AS \}\nBEGIN\n    -- Get values from cooperatives table\n    SELECT \n        c.land_use_id,\n        c.status_id\n    INTO \n        NEW.land_use_id,\n        NEW.status_id\n    FROM cooperatives c\n    WHERE c.id = NEW.cooperative_id;\n    \n    RETURN NEW;\nEND;\n\$\$ LANGUAGE plpgsql;\n\n-- Create trigger\nDROP TRIGGER IF EXISTS populate_cooperative_area_fields_trigger ON cooperative_areas;\nCREATE TRIGGER populate_cooperative_area_fields_trigger\n    BEFORE INSERT OR UPDATE ON cooperative_areas\n    FOR EACH ROW\n    EXECUTE FUNCTION populate_cooperative_area_fields();\n\n-- Insert default values into reference tables\nINSERT INTO land_use_types (name) VALUES \n    ('Agricultural'),\n    ('Pastoral'),\n    ('Mixed')\nON CONFLICT DO NOTHING;\n\nINSERT INTO cooperative_status (name) VALUES \n    ('Active'),\n    ('Inactive'),\n    ('Pending')\nON CONFLICT DO NOTHING;
